/* clear browser formatting, outline all elements so it's easier to see what's going on */
* {
  margin: 0;
  padding: 0;
  outline: 1px dotted green;
}

body {
  width: 500px;
}

div {
  float: left;
  height: 100px;
  width: 100px;
}

.h400 {
  height: 400px;
}

.w400 {
  width: 400px;
}

.w200 {
  width: 200px;
}

/* Paragraph styling is not really necessary for the exercise, but makes it look cleaner */
p {
  text-align: center;
  padding-top: 20px;
}
